@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
div {
  overflow: hidden;
}

/* all the buttons css here */
.btn-primary {
  background: #f16335;
  background-image: linear-gradient(to right, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 210% 210%;
  background-position: top right;
  background-color: #f16335;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #ffffff;
  border-color: transparent;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #db2dc0;
  border-color: #d725bb;
}

#root {
  background: linear-gradient(to right, #232526, #414345);
  /* background: url('../src/assets/img/etherum.png'); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.page-header .content-center {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}

.section {
  padding: 70px 0;
  position: relative;
}

.section .gov_details {
  color: #ffffff;
}

.coinLogo {
  max-width: 100%;
  height: auto;
}

.numbers {
  color: #ffffff;
}

.numbers p {
  font-size: large;
}

a {
  color: #f16335 !important;
}

.text-info {
  color: #f16335 !important;
}

.coin {
  font-size: 250px;
}

/* .user_detail_list {
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px;
} */

hr {
  color: #ffffff;
}

a.text-info:hover {
  color: #ffffff !important;
  cursor: grab;
}

.gov_details {
  background-color: black;
  color: white;
  height: auto;
}

.member_details {
  background-color: darkorange;
}

.member_details p {
  color: white;
}

.member_details_view {
  color: black !important;
}

.details_body .card {
  color: white !important;
  background-color: black !important;
  border: 1px solid white;
  border-radius: 10px;
  /* opacity: 10%; */
}

.member {
  font-size: 170px;
}

.nft_drop_logo {
  font-size: 200px;
}

.card_vote {
  background: linear-gradient(to bottom, #bfbfbf, #e2e2e2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 15px;
}

.editionDrop_card {
  height: 600px;
  width: 100%;
}

.editionDrop_frame {
  width: 100%;
  border-radius: 20px;
}

.section_1,
.section_2 {
  height: 100vh;
}

.container-fluid {
  padding: 0;
}

.glsLogo_login {
  height: 180px;
}

.eth_logo_login {
  height: 200px;
}

.login_page {
  background: url('../src/assets/img/ethlogo.gif') center no-repeat;
}

.inner_login {
  position: absolute;
}

.login_page ::backdrop {
  opacity: 10%;
}

.member_mint {
  height: 100vh;
}

.member_mint_nft_img {
  height: 450px;
  width: 460px;
}

.nav_top {
  display: flex;
  justify-content: end;
  padding: 15px;
}

.nav_top li {
  margin: 20px;
  padding: 10pxs;
}

.nav_top a {
  color: white !important;
  cursor: grab;
}

.nav_top .address_link {
  color: #f16335 !important;
}